<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><meta http-equiv='X-UA-Compatible' content='ie=edge'><title>Document</title></head><link rel='stylesheet' href='../css/style.css'><link rel='stylesheet' href='../css/md.css'><body><div class='toplength'><div class='top'><a href='../index.html' class='topleft'>陈耀辉</a><a href='about.html' class='topright'>About</a></div></div><div class='contentbox'><div class='content'><div class='contentInner'><h1 id="-">函数闭包理解</h1>
<hr>
<h3 id="-">闭包的概念</h3>
<ul>
<li>闭包的来源：函数外部无法访问函数内部的变量，这是由于函数的作用域链导致的，在函数内部访问变量时程序会一层一层往上找变量，但是反之则不行</li>
<li><pre><code>   function f1(){
  　　　　var n=999;
  　　　　function f2(){
  　　　　　　alert(n); 
  　　　　}
  　　　　return f2;
  　　}
  　　var result=f1();
  　　result(); // 999
  只有通过这样的方式才能访问到函数内部的变量
</code></pre><h3 id="-">闭包的用途</h3>
</li>
<li>在函数外部可以读取到函数内部的变量</li>
<li>让这个变量的值始终保存在内存中</li>
<li><pre><code>  function f1(){
  　　　　var n=999;
  　　　　nAdd=function(){n+=1}
  　　　　function f2(){
  　　　　　　alert(n);
  　　　　}
  　　　　return f2;
  　　}
  　　var result=f1();
  　　result(); // 999
  　　nAdd();
  　　result(); // 1000
  n变量在f1执行完毕之后没有被自动清，因为n相对于f2函数来说是一个全局变量
</code></pre><h3 id="-">闭包的注意事项</h3>
</li>
<li>因为闭包会把一些看似局部变量的全局变量保存在内存中，所以会浪费内存，不能滥用，会造成内存泄漏<h3 id="-">示例代码</h3>
</li>
<li><p>示例一</p>
<pre><code>  var name = &quot;The Window&quot;;
  　　var object = {
  　　　　name : &quot;My Object&quot;,
  　　　　getNameFunc : function(){
  　　　　　　return function(){
  　　　　　　　　return this.name;
  　　　　　　};
  　　　　}
  　　};
  alert(object.getNameFunc()());
</code></pre></li>
<li><p>示例二</p>
<pre><code>  var name = &quot;The Window&quot;;
  　　var object = {
  　　　　name : &quot;My Object&quot;,
  　　　　getNameFunc : function(){
  　　　　　　var that = this;
  　　　　　　return function(){
  　　　　　　　　return that.name;
  　　　　　　};
  　　　　}
  　　};
  　　alert(object.getNameFunc()());
</code></pre><p><strong>相关链接：<a href="http://www.ruanyifeng.com/blog/2009/08/learning_javascript_closures.html">闭包理解</a></strong></p>
</li>
</ul>
</div></div><div class=footer>@2016-2017</div></html>