<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="../css/style.css">
<body>
  <div class="toplength">
      <div class="top">
          <a href="/" class="topleft">陈耀辉</a>
          <a href="/views/about" class="topright">About</a>
        </div>
  </div>
  <div class="contentbox">
    <div class="content">
      <div class="contentInner">
          <h1 class="pagetitle">跨域的解决方案</H1>
          <div class="pagedate">Nov 3</div>
          <div class="pagecontent">
              <h5>一、什么是跨域</h5>
              <p class="hcontent">1、由于浏览器的同源策略导致不同的域名、子域名、端口、协议下页面之间互相访问</p>
              <h5>二、跨域的解决方案</h5>
              <p class="hcontent">1、jsonp的方式，这种方式只支持get请求，不支持post请求，没有兼容性问题，不能解决不同域的两个页面之间如何进行JavaScript调用的问题,因为jsonp是通过src地址栏引入的，所以不支持post请求</p>
              <p class="hcontent">JSONP的最基本的原理是：动态添加一个script标签，而script标签的src属性是没有跨域的限制的。这样说来，这种跨域方式其实与ajax XmlHttpRequest协议无关了。</p>
              <img src="cross1.png" alt="" class="hcontent">
              <p class="hcontent">这样写的话另一个域名地址后端也要进行处理</p>
              <img src="cross2.png" alt="" class="hcontent">
              <p class="hcontent">2、第二种方式：通过修改document.domain来跨子域，通过iframe实现跨域，方法只适用于不同子域的框架间的交互</p>
              <p class="hcontent">3、第三种方式：使用window.name来进行跨域</p>
              <p class="hcontent">window对象有个name属性，该属性有个特征：即在一个窗口(window)的生命周期内,窗口载入的所有的页面都是共享一个window.name的，每个页面对window.name都有读写的权限，window.name是持久存在一个窗口载入过的所有页面中的，并不会因新页面的载入而进行重置。</p>
              <p class="hcontent">此方法的缺点是只能在本窗口，切换到新窗口就不行了</p>
              <img src="cross3.png" alt="" class="hcontent">
              <p class="hcontent">4、第四种方式：使用HTML5中新引进的window.postMessage方法来跨域传送数据</p>
              <img src="cross4.png" alt="" class="hcontent">
              <p class="hcontent">使用postMessage来跨域传送数据还是比较直观和方便的，但是缺点是IE6、IE7不支持，所以用不用还得根据实际需要来决定。</p>
          </div>
      </div>
      <div class="pagination">
        <a href="" class="pre">&ltPre</a>
        <a href="" class="next">Next&gt</a>
      </div>
    </div>
  </div>
  <div class="footer">
    @2012-2017
  </div>
</body>
</html>