<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="../css/style.css">
<body>
  <div class="toplength">
      <div class="top">
          <a href="/" class="topleft">陈耀辉</a>
          <a href="/views/about.html" class="topright">About</a>
        </div>
  </div>
  <div class="contentbox">
    <div class="content">
      <div class="contentInner">
          <h1 class="pagetitle">前后端分离</H1>
          <div class="pagedate">Nov 4</div>
          <div class="pagecontent">
              <h5>一、旧的前后端之间的联系</h5>
              <p class="hcontent">1、web-server通过RPC接口，从通用业务服务获取数据</p>
              <p class="hcontent">2、biz-service通过RPC接口，从多个基础数据service获取数据</p>
              <p class="hcontent">3、基础数据service通过DAO，从独立db/cache获取数据</p>
              <p class="hcontent">4、db/cache存储数据</p>
              <h5>二、为什么要进行前后端分离</h5>
              <p class="hcontent">1、随着时间的推移，系统架构并不会一成不变，业务越来越复杂，改版越来越多，此时web-server层虽然使用了MVC架构，但以下诸多痛点是否似曾相识？</p>
              <p class="mircontent">产品追求绚丽的效果，并对设备兼容性要求高，这些需求不断折磨着使用MVC的Java工程师们</p>
              <p class="mircontent">不管是PC，还是手机H5，还是APP，应用前端展现的变化频率远远大于后端逻辑的变化频率（感谢那些喜欢做改版的产品经理），改velocity模版并不是Java工程师喜欢和擅长的工作</p>
              <p class="hcontent">5、前后端分离的过程以及实现思路</p>
              <img src="./image/divide1.jpg" alt="">
              <p class="mircontent">站点展示层，node.js，负责数据的展现与交互，由FE维护</p>
              <p class="mircontent">站点数据层，web-server，负责业务逻辑与json数据接口的提供，由Java工程师维护</p>
              <p class="hconent">6、这样做的好处</p>
              <p class="mircontent">复杂的业务逻辑与数据生成，只有在站点数据层处写了一次，没有代码拷贝</p>
              <p class="mircontent">底层service接口发生变化，只有站点数据层一处需要升级修改</p>
              <p class="mircontent">底层service如果有bug，只有站点数据层一处需要升级修改</p>
              <p class="mircontent">站点展现层可以根据产品的不同形态，传入不同的参数，调用不同的站点数据层接口</p>
              <p class="mircontent">对于已经上线的项目前端的功能优化以及新功能可以通过继承的方式在原来的代码上记性更新</p>
              
            </div>
      </div>
      <div class="pagination">
        <a href="" class="pre">&ltPre</a>
        <a href="" class="next">Next&gt</a>
      </div>
    </div>
  </div>
  <div class="footer">
    @2016-2017
  </div>
</body>
</html>