<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
  <div class="toplength">
      <div class="top">
          <a href="/index" class="topleft">陈耀辉</a>
          <a href="/about" class="topright">About</a>
        </div>
  </div>
  <div class="contentbox">
    <div class="content">
      <div class="contentInner">
          <h1 class="pagetitle">es6新语法</H1>
          <div class="pagedate">Nov 6</div>
          <div class="pagecontent">
              <h5>一、es6新语法</h5>
              <p class="hcontent">1、generator:一般函数只有一个返回值，但是generator定义的函数可以有多个返回值，一版用于多个异步函数的书写，可以向同步一样书写</p>
              <p class="hcontent">2、内存泄漏一般指的是时间函数，因为时间函数运行的函数是闭包函数以及函数内变量都是不会被垃圾回收机制回收</p>
          </div>
      </div>
      <div class="pagination">
        <a href="" class="pre">&ltPre</a>
        <a href="" class="next">Next&gt</a>
      </div>
    </div>
  </div>
  <div class="footer">
    @2012-2017
  </div>
</body>
</html>