<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><meta http-equiv='X-UA-Compatible' content='ie=edge'><title>Document</title></head><link rel='stylesheet' href='style.css'><link rel='stylesheet' href='md.css'><body><div class='toplength'><div class='top'><a href='/' class='topleft'>陈耀辉</a><a href='/views/about' class='topright'>About</a></div></div><div class='contentbox'><div class='content'><h3 id="myfirst">myfirst</h3>
<ul>
<li>diyige</li>
</ul>
<pre><code>let a = function(){
    var a=3
    for(var i=0;i&lt;5;i++){
        console.log(i)
    }
}
</code></pre><h5 id="-">第二组</h5>
<ul>
<li>第二行<strong><em>是打发斯蒂芬上岛咖啡哈市地方</em></strong></li>
</ul>
<div class='pagination'><a href='' class='pre'>&ltPre</a><a href='' class='next'>Next&gt</a></div></div></div><div class='footer'>@2012-2017</div></body></html>