<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><meta http-equiv='X-UA-Compatible' content='ie=edge'><title>Document</title></head><link rel='stylesheet' href='../css/style.css'><link rel='stylesheet' href='../css/md.css'><body><div class='toplength'><div class='top'><a href='../index.html' class='topleft'>陈耀辉</a><a href='about.html' class='topright'>About</a></div></div><div class='contentbox'><div class='content'><div class='contentInner'><h1 id="-">面试问题以及面试技巧</h1>
<h3 id="-">面试问题</h3>
<ul>
<li>固定高度，三栏布局，左边一个div，右边一个，中间自适应<blockquote>
<p>通过浮动实现(脱离文档流，兼容性比较好)<br>通过定位实现(子元素也脱硫文档流，快捷，方便)<br>flex布局(解决上面两个的缺点，只支持到ie9)<br>table布局(兼容性好，当三个钟一个高度增加时，其它的两个也增加)<br>网格布局(grid)</p>
<blockquote>
<p>延伸：每个解决方案的优缺点、高度去掉那个还试用、兼容性怎么样<br>去掉高度flex和table布局是可以用的<br>创建bfc<br>  <strong>页面布局小结：语义化掌握、页面布局深刻理解、css基础知识、思维灵活积极上进、代码书写规范</strong></p>
<h3 id="-">面试内容</h3>
</blockquote>
</blockquote>
</li>
<li>css3盒模型<blockquote>
<p>margin padding content border ie模型 标准模型<br>标准模型与ie模型的区别：宽度与高度的不同，css如何设置这两种模型(标准模型指的是content的宽、高，ie的宽高包括padding、border，可以通过box-sizing)<br>js获取盒模型的宽度和高度()</p>
<blockquote>
<p>dom.style.width,只能取到内联样式的宽、高<br>dom.currentStyle.width只有ie浏览器适用<br>window.getComputedStyle.width兼容谷歌和firefox<br>dom.getBoudingClientRect()拿到有width,height,left,top<br>边距重叠<br>BFC(边距重叠解决方案：快捷格式上下文) IFC(内联格式上下文)<br>display/float/over-flow/position这些属性可以创建BFC<br>BFC垂直方向的边距会发生重叠，浮动的margin重叠，BFC是单独的元素，计算高度BFC也会计算在内<br>消除BFC：给子元素添加一个父元素创建一个BFC设置属性:over-flow:hidden</p>
</blockquote>
</blockquote>
</li>
<li><p>DOM事件</p>
<blockquote>
<p>DOM事件的级别</p>
<blockquote>
<p>DOM0 Element.onclick=function(){} //DOM1中没有涉及到与事件相关的操作<br>DOM2 Element.addEventListenner(&#39;click&#39;,function(){},false)<br>DOM3 Element.addEventListenner(&#39;keyup&#39;,function(){},false) //添加了许多事件<br>了解DOM事件模型(冒泡、捕获)<br>DOM事件流(事件的捕获，到达目标元素，上升的window对象，渲染到页面)<br>window-&gt;document-&gt;html(document.documentElenment)-&gt;body(document.body)-&gt;……-&gt;目标元素<br>EVENT对象的常见应用<br>e.preventDefault()<br>e.stoppropagation()<br>e.stopImmidiatePropagation()<br>event.currentTarget<br>event.target<br>自定义事件</p>
</blockquote>
</blockquote>
<pre><code>  var eve = new Event(&#39;custom&#39;);
  ev.addEventListener(&#39;custom&#39;,function(){});
  ev.dispatchEvent(eve);//触发事件
</code></pre></li>
<li>http协议<blockquote>
<p>http协议的主要特点</p>
<blockquote>
<p>简单快速(统一UIA)、灵活(可以实现不同数据类型的传输)、无连接(连接一次就会断开)、无状态(不能区分两次连接的客户)<br>http报文的组成部分<br>请求报文：请求行(请求类型)、请求头（key：value）、空行(分割请求头和请求体)、请求体<br>相应报文：状态行、响应头（key：value）、空行、响应体<br>http方法：get、post、delete、put、head<br>get与post的区别<br>在浏览器中回退时，get请求不会再次请求，而post请求会再次发起请求<br>get请求可以被收藏，浏览器可以主动缓冲，参数也会被保存到浏览器地址栏中，但是post请求不行<br>get请求传参有长度限制（2kb）过长会被截断，post没有限制<br>get比post更不安全<br>get参数放在url中，post放在request.body中<br>1指示信息；2链接成功；3重定向；4客户端错误；5服务端错误<br>301永久重定向，302临时重定向，304表示客户端有缓冲，原来的缓冲还可以用，不需用从服务器重新获取<br>400客户端有语法错误，一般是传参有问题；403对请求页面的访问被禁止<br>503服务端宕机或者是临时过载，过段时间就好了<br>http协议正常是请求-应答模式，请求时链接，正常返回之后结束，但是采用keep-alive模式之后，链接持久有效（1.1版本支持，0版本不支持）<br>管线化：将所有请求一次打包然后发起请求，服务端一次把所有请求结果都返回，不是正常的请求一次返回一次；只有get和head请求可以管线化，初次链接不要启动管线化，因为对方的服务器可能不支持管线化；管线化对浏览器的支持不太好</p>
</blockquote>
</blockquote>
</li>
<li><p>原型链</p>
<blockquote>
<p>创建对象的方式三种</p>
</blockquote>
<pre><code>  //第一种方式：字面量的方式
  var obj={name:1}
  var obj=new Object({name:1})
  //第二种方式：构造函数的方式
  var fun = function(name){this.name=name};
  obj=new fun();
  //第三种方式：create的方式
  var obj = Object.create({name:1})
</code></pre><blockquote>
<p>原型链的基本原理就是实例化的对象拥有它的构造函数的属性以及构造函数原型的所有方法<br>prototype属性是构造函数的属性<br>__proto__这个属性值是该对象的prototype<br>constructor构造函数可以判断实例的原型<br>  <img src="../image/interview3.jpg" alt="原型、构造函数、实例"><br>new运算符<br>  new运算符的运行过程<br>  var new = function(func){</p>
<pre><code>  var newObj = {};
  newObj.\_\_proto\_\_=func.prototype;
  var k = func.call(newObj);
  if(k===&#39;Object&#39;){
      return k;
  } else {
      return newObj;
  }
</code></pre><p>  }</p>
</blockquote>
</li>
<li>继承<blockquote>
<p>类的声明：es6的声明方式<br>继承方式：借助构造函数实现继承，通过call改变this指针，前两种方式的组合进行继承<br>prototype属性中有construtor属性<br>Object.create创建对象</p>
</blockquote>
</li>
<li><p>通信类</p>
<blockquote>
<p>同源(协议、域名、端口)策略的的定义以及限制：cookie/localStorage/indexDB无法读取；DOM无法获取；ajax请求无法发送<br>前后端如何通信：ajax,websocket,cors<br>如何创建ajax:注意兼容性，事件的触发条件，触发顺序<br>跨域通信的几种方式：jsonp,hash,postMessage,websocket,cors</p>
<blockquote>
<p>jsonp跨域是通过script标签的异步加载实现的(只支持get请求)</p>
</blockquote>
</blockquote>
<pre><code>  function resolveJson(){
      console.log(res)
  }
  var jsonScript = document.createElement(&quot;script&quot;);
  jsonScript.src=&#39;http://hao123.com?callbackName=resolveJson&#39;;
  jsonScript.type=&#39;text/javascript&#39;;
  document.getElementByTagName(&#39;head&#39;)[0].appendChild(jsonScript);
  客户端代码：resolveJson({name: &#39;qiutc&#39;});
</code></pre><blockquote>
<blockquote>
<p>hash通过iframe嵌入一个新页面:首先获取到iframe标签然后给src属性添加&#39;#&#39;+data(需要传递的数据)<br>hash的变化页面不刷新所以可以做跨域通信，search改变页面会刷新<br>cors是可以跨域的ajax请求（fetch支持ie8以上）</p>
<blockquote>
<p>Fetch 请求默认是不带 cookie 的，需要设置 fetch(url, {credentials: &#39;include&#39;})<br>服务器返回 400，500 错误码时并不会 reject，只有网络错误这些导致请求不能完成时，fetch 才会被 reject。<br><a href="https://segmentfault.com/a/1190000006095018">fetch请求扩展阅读</a><br><a href="http://www.jianshu.com/p/fca0facfe381">跨域扩展阅读</a></p>
</blockquote>
</blockquote>
</blockquote>
</li>
<li>安全类型(CSRF/XSS)<blockquote>
<p>CSRF共计原理和防御措施</p>
<blockquote>
<p>跨站请求伪造<br>  <img src="../image/interview4.jpg" alt="攻击原理"></p>
<h3 id="-">二面主要内容</h3>
</blockquote>
</blockquote>
</li>
<li><strong>渲染机制、js运行机制、页面性能、错误监控</strong></li>
<li>渲染机制<blockquote>
<p>什么DOCTYPE及作用</p>
<blockquote>
<p>声明文档类型以及DTD规范，告诉浏览器以何种方式来进行解析<br>DOCTYPE类型：&lt;!DOCTYPE html&gt;/html4有两种模式，严格模式（不包括弃用的和不推荐使用的元素）和传统模式（与严格模式相反）<br>浏览器渲染过程<br>  <img src="../image/interview5.jpg" alt="浏览器渲染过程"><br>重排reflow<br>当增加、删除DOM节点会导致Reflow或者Repaint<br>当移动DOM的位置<br>当修改css样式的时候<br>当Resize窗口的时候可能会触发<br>当修改网页的默认字体，一般不采用这样做，会有性能问题<br>重绘<br>DOM改动、css改动<br>如何减少Repaint，尽量减少DOM的操作次数：改变多个节点的额时候，可以先都改变了，然后一次性进行渲染<br>浏览器的绘制方式</p>
</blockquote>
</blockquote>
</li>
<li>js运行机制<blockquote>
<p>如何理解js的单线程<br>什么是任务队列<br>什么Event Loop（当同步事件执行完之后）<br>异步任务：setTimeout/setInterval/DOM事件/es6的Promise/ajax</p>
</blockquote>
</li>
<li><p>提升页面性能</p>
<blockquote>
<p>资源压缩合并，减少http请求<br>非核心代码的异步加载-&gt;异步加载的方式有哪些-&gt;异步加载的区别</p>
<blockquote>
<p>异步加载的方式</p>
<blockquote>
<p>动态脚本加载：利用js动态加载script文件或者图片文件<br>defer：在html解析完成之后执行，如果是多个，按照加载的顺序依次执行<br>async：是在加载完成之后立即执行，如果是多个，执行顺序和加载顺序无关<br>执行结果都是同步js文件之后<br>利用浏览器缓冲-&gt;缓冲的分类-&gt;缓冲的原理<br>缓冲的分类<br>强缓冲：</p>
</blockquote>
</blockquote>
</blockquote>
<pre><code>  Expires:Th,21 Jan 2017 23:39:02 GMT绝对时间;  以客户端为标准
  Cache-Contro Cache-Control:max-age=3600  //相对时间，相对于客户端本地时间3600s之内浏览器不会再向服务器请求这个资源
</code></pre><blockquote>
<blockquote>
<blockquote>
<p>协商缓冲：浏览器向服务器请求该内容是否可以缓冲</p>
</blockquote>
</blockquote>
<p>使用CDN：cdn加载非常快（尤其是首次打开页面的时候）<br>与解析DNS</p>
</blockquote>
<pre><code>  &lt;meta http=&#39;x-dns-prefetch-control&#39; content=&#39;on&#39;&gt;   //如何页面是https协议很多浏览器默认是关闭预解析功能，使用这句meta标签就可以打开预解析功能
  &lt;link rel=&#39;dns-prefetch&#39; href=&#39;//host_name_to_prefetch.com&#39;&gt;  //某些高级浏览器a标签默认打开预解析功能
</code></pre></li>
<li>错误监控（产品上线，产生的错误自动收集）<blockquote>
<p>前端错误的分类</p>
<blockquote>
<p>即时运行错误<br>资源加载错误:不会冒泡，所以window.onerror无法捕获这种错误<br>错误的捕获方式<br>try...catch<br>window.onerror<br>object.onerror<br>performance.getEntries()     //高级浏览器获取到的是一个资源数组<br>error事件捕获，通过addEventListener添加error事件时，设置为false<br>  <img src="../image/interview6.jpg" alt="跨域脚本错误的捕获"><br>上报错误的基本原理<br>利用image对象上报<br>  (new image()).src=&#39;<a href="http://baidu.com/sda?aa=5&amp;bb">http://baidu.com/sda?aa=5&amp;bb</a>&#39;</p>
<h3 id="-">三面和四面</h3>
</blockquote>
</blockquote>
</li>
<li>准备充分：项目背后的技术以及难点，项目的亮点</li>
<li>描述要演练</li>
<li>引导找时机 </li>
<li>优势要发挥</li>
<li>回答要灵活</li>
<li>业务能力</li>
<li>团队写作能力</li>
<li>事务推动能力</li>
<li>带人能力</li>
<li>遇到什么问题</li>
<li>最大的收获是什么<br><img src="../image/interview7.jpg" alt="面试问题"><h3 id="-">面试中可能问道的问题</h3>
</li>
<li>页面导入样式时，使用link和@import有什么区别？</li>
</ul>
</div></div><div class=footer>@2016-2017</div></html>