<!DOCTYPE html><html lang='en'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><meta http-equiv='X-UA-Compatible' content='ie=edge'><title>Document</title></head><link rel='stylesheet' href='../css/style.css'><link rel='stylesheet' href='../css/md.css'><body><div class='toplength'><div class='top'><a href='../index.html' class='topleft'>陈耀辉</a><a href='about.html' class='topright'>About</a></div></div><div class='contentbox'><div class='content'><div class='contentInner'><h1 id="-">网站性能优化</h1>
<hr>
<h4 id="-iconfont">将小图标制作成iconfont</h4>
<ul>
<li>能减少文件体积、降低服务器请求数，节约宽带资源，有利于后期维护。</li>
<li>浏览器只兼容到ie9以上</li>
<li>用矢量制作工具制作保存成为svg：Adobe Illustrator</li>
<li>iconfont生成器：<a href="https://icomoon.io/">icomoon.io</a>或者<a href="http://fontello.com/">fontello</a> + 自制CSS文件</li>
<li>相关链接<a href="http://www.uisdc.com/4-icon-font-production-method">iconfont制作</a></li>
<li><a href="https://www.cnblogs.com/camille666/p/iconfont.html">inconfont的使用以及见个人库</a></li>
<li>使用ajax缓冲（对于数据不变的页面可以使用）</li>
<li>组件开发，提升公用组件，组件的按需加载</li>
<li>将js文件放置于html文件底部，或者在顶部时使用async异步加载</li>
<li>图片懒加载也可以减少http请求数，优化页面性能</li>
<li>对于多个同样的元素添加事件，可以通过事件委托来实现，缩短页面的交互就绪时间</li>
</ul>
</div></div><div class=footer>@2016-2017</div></html>