<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <meta http-equiv=X-UA-Compatible content="ie=edge">
  <title>Document</title>
</head>
<link rel=stylesheet href=style.css>
<body>
  <div class=toplength>
      <div class=top>
          <a href=/index class=topleft>陈耀辉</a>
          <a href=/about class=topright>About</a>
        </div>
  </div>
  <div class=contentbox>
    <div class=content>
      <div class=contentInner>
          <h1 class=pagetitle>H5新属性以及新特性</h1>
          <div class=pagedate>Nov 11</div>
          <div class=pagecontent>
              <h5>一、canvas</h5>
              <h5>二、svg</h5>
              <h5>三、拖放</h5>
              <p class=hcontent>1、任何元素都可以拖动：浏览器兼容至ie9</p>
              <h5>四、Geolocation,获取地理位置</h5>
              <h5>五、video视频</h5>
              <p class=hcontent>1、video初始不指定的宽度和高度页面初始化就不会预留一定位置放视频，但是指定了页面就会预留一定的位置放置视频</p>
              <p class=hcontent>2、video 标签之间插入的内容是提供给不支持 video 元素的浏览器显示的。</p>
              <p class=hcontent>3、video标签支持多个source标签，浏览器会使用第一个支持的格式</p>
              <p class=hcontent>4、video支持三种格式：MP4, WebM, 和 Ogg</p>
              <h5>六、audio标签类似于video标签，支持：MP3, Wav, 和 Ogg三种格式</h5>
              <h5>七、input标签、新的表单元素</h5>
              <p class=hcontent>1、许多新的标签由于兼容性不好所以一般不会用，许多type只能兼容谷歌浏览器</p>
              <p class=hcontent>2、input中上传文件标签multiple属性兼容ie10以及以上，同时上传多张图片</p>
              <p class=hcontent>3、input的placeholder、支持ie10以上</p>
              <h5>八、语义化标签兼容ie9以及以上</h5>
              <p class=hcontent>对于ie9一下的版本处理办法有：</p>
              <img src=H1.png alt="">
              <h5>九、缓冲cache manifest</h5>
          </div>
      </div>
      <div class=pagination>
        <a href="" class=pre>&ltPre</a>
        <a href="" class=next>Next&gt</a>
      </div>
    </div>
  </div>
  <div class=footer>
    @2012-2017
  </div>
<script type=text/javascript src=../js/index-35458caad094791a102f.js></script></body>
</html>